.tile{
    background-color: red;
    width: 100%;
    aspect-ratio: 1/1;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-style: solid;
    border-color: black;
    transition: all 5ms;
   
}
.tile:hover{
    border-color: bisque;
    -webkit-box-shadow: 0px 0px 34px -12px rgba(255, 234, 26, 1);
    -moz-box-shadow: 0px 0px 34px -12px rgba(255, 234, 26, 1);
    box-shadow: 0px 0px 34px -12px rgba(255, 234, 26, 1);
    cursor: pointer;
}
.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}